.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
}

.sidebar {
  width: 240px;
  background: #1976d2;
  color: white;
}

.sidebar a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.sidebar a:hover {
  background: #1565c0;
}
