# Ignore Python cache files
**/__pycache__/
**/*.py[cod]

# Ignore Django migrations
migrations/
*/migrations/
*/__pycache__/

# Ignore specific files
*.pyc
*.pyo
*.pyd
*.sqlite3
database.py

# Ignore environment files
amb
.env